.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .links {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }



  .fa-facebook {
    color: white;
  }


  .fa-linkedin {
    color: white;
  }

  .fa-github {
    color: white;
  }

  .fa-youtube {
    color: white;
  }

  .social {
  left: 35%;
  top: 90%;
  font-size: 22px;
  position: absolute;
  }


    body, html {
      height: 100%;
      margin: 0;
    }


  .text {
    font-family: 'Sanchez';
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 30px;
    font-weight: bold;
  }

  .text2 {
    font-family: 'Sanchez';
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 30px;
    font-weight: bold;
  }


  .name {
    font-family: 'Spartan', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 55px;
  }

  .title {
    font-family: 'Sanchez';
    color: rgb(12, 118, 204);
    font-weight: bold;
    position: absolute;
    top: 30%;
    left: 12%;
    font-size: 30px;
  }

  .projects {
    font-family: 'Sanchez';
    color: rgba(154, 214, 154, 0.774);
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 30px;

  }


  a {
    color: white;
  }

  a: hover {
    cursor: pointer;
    opacity: 0.7;
  }







  .text:hover {
    opacity: 0.7;
}

 .text2:hover {
    opacity: 0.7;
}


  body {
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  }





/* for mobile devices 480px */
@media (max-width: 480px){
    body{
      background-image: url("profile-mobile3.png");
    }

    .social{
    left: 12%;
    top: 90%;
    }

    .name{
    top: 8%;
    left: 8%;
    }

    .title{
    top: 68%;
    left: 2%;
    }

    .projects{
    top: 71%;
    left: 10%;
    }

    .text {
    top: 79%;
    left: 18%;
    }

    .text2 {
    top: 79%;
    left: 18%;
    }
}

/* mobile devices 375(iphone 6/7/8) */

@media (max-width: 376px)
{
  body{
    background-image: url("profile-mobile3.png");
  }

  .social{
  left: 2%;
  top: 90%;
  font-size: 22px;
  }

  .name{
  top: 0%;
  left: 0%;
  font-size: 40 px;
  }

  .title{
  top: 70%;
  left: 3%;
  font-size: 22px;
  }

  .projects{
  top: 74%;
  left: 10%;
  font-size: 22px;
  }

  .text {
  top: 82%;
  left: 15%;
  font-size: 22px;
  }

   .text2 {
  top: 82%;
  left: 15%;
  font-size: 22px;
  }
}





/* for mobile devices */
@media (max-width: 370px){
  body{
    background-image: url("profile-mobile3.png");
  }

  .social{
  left: 2%;
  top: 90%;
  font-size: 22px;
  }

  .name{
  top: 0%;
  left: 0%;
  font-size: 40 px;
  }

  .title{
  top: 70%;
  left: 3%;
  font-size: 22px;
  }

  .projects{
  top: 74%;
  left: 10%;
  font-size: 22px;
  }

  .text {
  top: 82%;
  left: 15%;
  font-size: 22px;
  }

   .text2 {
  top: 82%;
  left: 15%;
  font-size: 22px;
  }
}



/* for mobile devices */
@media (max-width: 320px){
  body{
    background-image: url("profile-mobile3.png");
  }

  .social{
  left: 2%;
  top: 90%;
  font-size: 20px;
  }

  .name{
  top: 0%;
  left: 0%;
  font-size: 40 px;
  }

  .title{
  top: 69%;
  left: 0%;
  font-size: 20px;
  }

  .projects{
  top: 73%;
  left: 5%;
  font-size: 20px;
  }

  .text {
  top: 82%;
  left: 7%;
  font-size: 20px;
  }

  .text2 {
  top: 82%;
  left: 7%;
  font-size: 20px;
  }

}



/* for tablet devices */

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url("profile.png");
        }

  .name{
      top: 8%;
      left: 2%;
    }

  .title{
      top: 40%;
      left: 8%;
      }

  .projects{
      top: 48%;
      left: 12%;
  }

  .text {
  top: 65%;
  left: 15%;
  }

  .text2 {
  top: 65%;
  left: 15%;
  }

}


/* for desktop devices */
@media (min-width: 1025px) {
    body {
      background-image: url("profile.png");
          }
}



