.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .links {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .links:hover {
      opacity: 0.7;
  }


  .fa-facebook {
    color: white;
  }


  .fa-linkedin {
    color: white;
  }

  .fa-github {
    color: white;
  }

  .fa-youtube {
    color: white;
  }

  .social{
  position: absolute;
  left: 35%;
  top: 80%;
    }
  

    body, html {
      height: 100%;
      margin: 0;
    }

   
  .text {
    font-family: 'Sanchez';
    font-size: 28px;
    
    position: absolute;
    left: 187px;
    top: 298px;
  }


  .name {
    font-family: 'Spartan', sans-serif;
    font-size: 55px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    left: 7%;
    top: 15%;
  }

  .title {
    font-family: 'Sanchez';
    font-size: 28px;
    color: rgb(12, 118, 204);
    font-weight: bold;
    position: absolute;
    left: 7.8%;
    top: 33%;
  }

  .projects {
    font-family: 'Sanchez';
    font-size: 28px;
    color: rgba(154, 214, 154, 0.774);
    font-weight: bold;
    position: absolute;
    left: 11.7%;
    top: 39.5%;
  }


  a {
    color: white;
  }


  .text:hover {
    opacity: 0.7;
}

/* for mobile devices */
@media (max-width: 480px){
    body{
      background-image: url("profile-mobile.png");
    }

    .social{
    left: 12%;
    top: 65%;
    }

    .name{
    top: 8%;
    left: 8%;
    }

    .title{
    top: 40%;
    left: 8%;
    }

    .projects{
    top: 45%;
    left: 18%;
    }

    .text {
    top: 54%;
    left: 20%;
    }
}


/* for tablet devices */

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: url("profile.png");
        }

  .text {
  top: 54%;
  left: 20%;
  }

  }


/* for desktop devices */
@media (min-width: 1025px) {
    body {
      background-image: url("profile.png");
          }
    }


  body {
      background-position: center center;
      background-attachment: fixed; 
      background-repeat: no-repeat; 
      background-size: cover; 
  }

