html {
  background: url('profile.png') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}



.name {
  color:white;
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 900%;
  width: 60%;
  font-family: 'Poppins', sans-serif;
}

.title {
  color: #3366ff;
  font-size: 500%;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
  font-family: 'Poppins', sans-serif;
}

#projects {
  position: absolute;
  top: 55%;
  left: 10%;
  font-family: 'Poppins', sans-serif;
}

#projects #btnGroupDrop1{
  font-size: 200%;
  font-weight: lighter;
}

#socialmedia {
  position: absolute;
  top: 85%;
  left: 7%;
  width: 58%;  
}

.icon {
  margin: 5%;
  color: #f2f2f2;
}

.icon:hover {
  color: 	#3399ff;
}

.dropdown-menu a:hover
{
  color: #fff;
  border-color: black;
  background-color:	 	 #4d94ff;
}

  
#alltext {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 5s;
  animation-fill-mode:forwards;
}



@keyframes fadein
{
  0%{opacity: 0}
  100%{opacity:1}
}


/* Mobile Devices */
@media (max-width: 540px){
  
  html {
    background: url('profile-mobile.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  * {
    font-size: 70%;
  }

  
#projects {
  top: 65%;
  left: 10%;
  font-size: 150%;
}




#socialmedia {
  position: absolute;
  top: 90%;
  left: 7%;
  width: 100%;
}

.icon {
  color: #f2f2f2;
}


}

/* Mobile Optimization */
@media (max-width: 414px){
  #socialmedia {
    left: 4%;
    
  }

  .title {
    top: 40%;
    font-size: 300%;
    width: 90%; 
  }

  #projects {
    position: absolute;
    top: 55%;
    left: 10%;
    font-family: 'Poppins', sans-serif;
  }

  .dropdown-menu a
  {
    font-size: 120%;
    width: 80%;
  }
  
  .dropdown-menu b
  {
    font-size: 120%;
    width: 80%;
  }


}



/* Mobile Optimization */
@media (max-width: 320px){
  #socialmedia {
    left: -2%;
    width: 110%;
  }

  
  
}

/* Mobile Optimization */
@media (max-width: 375px){
  #socialmedia {
    top: 90%;
    left: 0%;
    width: 100%;
  }


}

/* Mobile Optimization Galaxy s5 */
@media (max-width: 360px){
  #socialmedia {
    left: 1%;
    top: 90%;

  }
}

/* Mobile Optimization Galaxy s5 */
@media (max-width: 411px){
  #socialmedia {
    left: 5%;

  }
}


